<!DOCTYPE html>
<html>

<head>
    <title>Downloads</title>
</head>

<body>
    <h1>Downloads</h1>
    <p>Clique nos links abaixo para baixar os arquivos:</p>
    <a id="download-link-1" href="{{ url_for('download', filename=doc1_path) }}" download>Contrato Honorários</a><br>
    <a id="download-link-2" href="{{ url_for('download', filename=doc2_path) }}" download>Justiça Gratuita</a><br>
    <a id="download-link-3" href="{{ url_for('download', filename=doc3_path) }}" download>Procuração</a><br>

    <a id="voltar-link" href="{{ url_for('index') }}" class="btn btn-secondary">Voltar</a>
</body>

</html>

<script>
    // Função para simular clique no link de download
    function downloadFile(linkId) {
        var link = document.getElementById(linkId);
        link.click();
    }

    // Simular clique nos links de download após a página carregar
    window.onload = function () {
        downloadFile('download-link-1');
        downloadFile('download-link-2');
        downloadFile('download-link-3');
    };

    // Redirecionar para a página inicial após 0.2 segundos (200 ms)
    setTimeout(function () {
        window.location.href = "{{ url_for('index') }}";
    }, 200);
</script>