<!DOCTYPE html>
<html>
<head>
    <title>Formulário</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">


</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
    <h1>Formulário</h1>
    <form action="/generate_docx" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" required><br>
        
        <label for="nacionalidade">Nacionalidade:</label>
        <input type="text" name="nacionalidade" value="Brasileiro(a)" required><br>
        
        <label for="estadoCivil">Estado Civil:</label>
        <input type="text" name="estadoCivil" required><br>

        <label for="profissao">Profissão:</label>
        <input type="text" name="profissao" required><br>

        <label for="fone">Fone:</label>
        <input type="text" name="fone" required><br>
        <script>
            $(document).ready(function () {
                $('#fone').inputmask('(99) 99999-9999');
            });
        </script>

        <label for="fone">Fone Recado:</label>
        <input type="text" name="fone_recado"><br>

        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" required><br>

        <label for="rg">RG:</label>
        <input type="text" name="rg" required><br>

        <label for="endereco">Endereço:</label>
        <input type="text" name="endereco" required><br>
             
        <label for="bairro">Bairro:</label>
        <input type="text" name="bairro" required><br>

        <label for="cep">CEP:</label>
        <input type="text" name="cep" required><br>

        <label for="cidade">Cidade:</label>
        <input type="text" name="cidade" required><br>
             
        <label for="estado">Estado:</label>
        <input type="text" name="estado" required><br>
            
        <label for="data">Data:</label>
        <input type="date" name="data" required><br>

        <button type="submit">Mágica</button>
    </form>
</body>
</html>
